- name: Check prerequisites
  hosts: dw-mono
  become: true
  tasks:
    - name: Check OS
      ansible.builtin.assert:
        that:
          - ansible_facts["os_family"] == "RedHat"
          - ansible_facts["distribution"] == "Amazon"
          - ansible_facts["distribution_version"] == "2023"
        msg: "This playbook is only compatible with Amazon Linux 2023"
    - name: Check that secrets are accessible
      ansible.builtin.assert:
        that:
          - dhammawheel_db_pass is defined
          - dharmawheel_db_pass is defined
          - dharmapaths_db_pass is defined
        msg: "Secrets file is missing required variables"
- name: Install packages
  ansible.builtin.import_playbook: packages.yml
