- name: Install dependencies from package manager
  hosts: dw-mono
  become: true
  roles:
    - role: ffmpeg
    - role: build_lua
  tasks:
    - name: Install packages on Amazon Linux 2023
      ansible.builtin.dnf:
        name:
          - nginx
          - php-fpm
          - php-mysqlnd
          - amazon-efs-utils
          - nfs-utils
          - php-gd
          - php-mbstring
          - php-intl
          - php-xml
          - php-fileinfo
          - php-sodium
          - php-zip
          - php-devel
          - php-pear
          - ImageMagick
          - ImageMagick-devel
          - make
          - readline-devel
          - amazon-ssm-agent
          - gcc
          - g++
          - libtool
          - autoconf
          - cmake
          - git
        state: present
    - name: Enable nginx
      ansible.builtin.systemd:
        name: nginx
        state: started
        enabled: true
    - name: Enable php-fpm
      ansible.builtin.systemd:
        name: php-fpm
        state: started
        enabled: true
    - name: Enable amazon-ssm-agent
      ansible.builtin.systemd:
        name: amazon-ssm-agent
        state: started
        enabled: true
    - name: Update pecl
      ansible.builtin.command: pear channel-update pecl.php.net
      changed_when: false
    - name: Install PHP redis
      community.general.pear:
        name: pecl/redis
        state: present
    - name: Add redis.so to php.ini
      ansible.builtin.copy:
        content: "extension=redis.so"
        dest: /etc/php.d/99-redis.ini
        owner: root
        group: root
        mode: "0644"
    - name: Install gRPC for PHP using pecl
      community.general.pear:
        name: pecl/grpc
        state: present
    - name: Add grpc.so to php.ini
      ansible.builtin.copy:
        content: "extension=grpc.so"
        dest: /etc/php.d/99-grpc.ini
        owner: root
        group: root
        mode: "0644"
    - name: Install protobuf for PHP using pecl
      community.general.pear:
        name: pecl/protobuf
        state: present
    - name: Add protobuf.so to php.ini
      ansible.builtin.copy:
        content: "extension=protobuf.so"
        dest: /etc/php.d/99-protobuf.ini
        owner: root
        group: root
        mode: "0644"
